.gif-anime dotlottie-player {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2); /* opcional: um toque de sombra */
}
.gif-anime2 dotlottie-player {
  border-radius: 20px;
  background-color: #363656;
  overflow: hidden;
  box-shadow: 
  0 2px 8px rgba(0, 0, 0, 0.5),     /* sombra escura próxima */
  0 6px 20px rgba(255, 255, 255, 0.08); /* luz suave ao redor */; /* opcional: um toque de sombra */
}