html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.secao-gif {
  width: 85vw;
  background-color: #1a1a2e;
  border-radius: 25px;
  color: #fff;
  padding: 100px 70px;
  box-sizing: border-box;
  gap: 30px;
  margin-bottom: 30px;
}
section.secao-gif {
  padding: 80px 60px;
  max-width: none;
  right: 30px;
  left: 30px;
  gap: 30px;
}

.secao-gif2 {
  width: 85vw;
  background-color: #1ebe5d;
  border-radius: 25px;
  color: #fff;
  padding: 100px 70px;
  box-sizing: border-box;
  gap: 30px;
}
section.secao-gif2 {
  padding: 80px 60px;
  max-width: none;
  right: 30px;
  left: 30px;
  gap: 30px;
}

.gif-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
  gap: 30px;
}

.gif-texto {
  flex: 1;
  min-width: 280px;
}

.gif-texto h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.gif-texto p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.gif-anime {
  flex: 1;
  display: flex;
  justify-content: center;
}
.body {
    overflow-x: hidden;
}
@media (max-width: 768px) {
  .gif-conteudo {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    padding: 20px;
    gap: 30px;
  }

 .gif-texto {
    width: 100%;
    max-width: 500px;
    margin-left: calc(50% - 142px);
    padding: 0 20px; /* adiciona espaçamento lateral */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
  }


  .gif-anime {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .gif-anime dotlottie-player {
    width: 100% !important;
    max-width: 300px !important;
    height: auto !important;
  }

  section.secao-gif,
  section.secao-gif2 {
    padding: 40px 20px !important;
    border-radius: 20px;
  }
}
@media (max-width: 768px) {
  .theme-toggle {
    top: auto !important;        /* remove o top */
    top: 20px !important;     /* adiciona distância do fundo */
    right: 20px !important; /* mobile */
  }
}
