@media (max-width: 768px) {
  .design-bloco {
    flex-direction: column;
    text-align: center;
  }

  .bloco-texto {
    order: 2;
  }

  .bloco-img {
    order: 1;
  }

  .bloco-img img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
  }
}
